.india {
  font-family: "Varela Round", sans-serif;
  font-size: 50px;
}
.restHead {
  font-family: "Sunflower", sans-serif;
  font-size: 40px;
}
.devIcon {
  color: teal;
}
.author {
  font-family: "Varela Round", sans-serif;
  font-size: 25px;
  color: rgb(117, 37, 192);
}
